@{
    ViewData["Title"] = "Music Store";
}

<div class="container main">
    <!-- Header -->
    <div class="header row clearfix">
        <div id="hat-logo-div">
            <img id="hat-logo" src="Logo-28stone.png" />
        </div>
    </div>

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <div id="root"></div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2018 Dmitrijs Galockins</p>
    </footer>
</div>
    <script src="~/music-store/build/static/js/main.js"></script>
